/*GERAL*/
body{
    font-family: Calibri, Arial, sans-serif;
    color: #4d4d4d;
    margin: 0;
}

/*NAVEGAÇÃO*/

h1,h2,h3{
    font-family: Calibri, Arial, sans-serif;
    margin: 0;
}

.botao{
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #045FB4;
    font-size: .9em;
    border-radius: 7px;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0B0C48;
}

nav > a{
    text-decoration: none;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 33px;
    font-family: Calibri, serif;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;
    padding: 1%;
}

nav ul li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
}

nav ul :hover{
    background-color: #131577;
}

/*CABEÇALHO*/

header{
    background-image:url('img/passaro2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

header p{
    margin-bottom: 2em;
}

header h1{
    text-shadow:1px 1px 1px #111111;
}

#tabelaDeDados{
    font-size: 22px;
    text-shadow:1px 1px 1px #111111;
}

#efeito{
    background-color:rgba(0,0,0,0.5)
}


/*SERVICOS*/
#gatos{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gatos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#passaros{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#passaros div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#cachorros{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cachorros div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#hamster{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hamster div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

/*FOOTER*/

footer {
    padding: 10px;
    background-color: #0B0C48;
    color: #f1f1f1;
}

footer a{
    color: white;
}

/*media query*/
@media screen and (min-width: 768px){

    /* Navegação */

    nav{
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul{
        flex-direction: row;
        width: 70%;
    }

    /* Cabeçalho */

    header{
        height: 60vh;
        justify-content: space-around;
    }

    #gatos{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #gatos h1 {
        text-align: center;
        width: 100%;
    }

    #gatos h2 {
        text-align: center;
        width: 100%;
    }

    #gatos div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

    #passaros{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #passaros h1 {
        text-align: center;
        width: 100%;
    }

    #passaros h2 {
        text-align: center;
        width: 100%;
    }

    #passaros div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

    #cachorros{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #cachorros h1 {
        text-align: center;
        width: 100%;
    }

    #cachorros h2 {
        text-align: center;
        width: 100%;
    }

    #cachorros div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

    #hamster{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #hamster h1 {
        text-align: center;
        width: 100%;
    }

    #hamster h2 {
        text-align: center;
        width: 100%;
    }

    #hamster div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
}